<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
   <link rel='stylesheet' href='/styles.css'>
   <title>Brand</title>
</head>
    <body>
        <div class='container'>
        <h1>{{ store.getBrandName }}</h1>

        <h4>Add a store this brand is sold at!</h4>


        <form action='/add_stores' method='post'>
            <input id="brand_id" name="brand_id" type="hidden" value="{{ brand.getId }}">
            <label for="store_id">Select a store</label>
            <select id='store_id' name='store_id' type='text'>
              {% for store in all_stores %}
                <option value="{{ store.getId }}"> {{ store.getStoreName }} </option>
              {% endfor %}
            </select>
            <button class="info" type='submit'>Add a Store</button>
        </form>

        {% if stores is not empty %}
            <h3>Here are the storess for this brand:</h3>
            <ul>
                {% for store in stores %}
                    <li>{{ store.getStoreName }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form action="/delete_brand/{{ brand.getId }}" method='post'>
        <input name="_method" type="hidden" value="delete">
            <button class='btn-danger' type='submit'>Delete This Store!</button>
        </form>

        <p><a href='/'>Home</a></p>
    </div>
</body>
</html>
